.App {
  padding: 0px 20px 20px 20px;
  text-align: left;

  .app-header-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 15px;
  }

  .app-header-name {
    justify-self: start;
    align-self: end;
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .app-header-login {
    text-align: right;
    font-size: -1rem;
  }

  .app-header-menu {
    grid-column: span 2;
    display: flex;
    gap: 10px;
    justify-self: start;
  }

  .app-header-menu-link-active {
    text-decoration: none;
    font-weight: 600;
    border-bottom: 1px solid #8F8F8F;
    padding-bottom: 5px;

    &:hover {
      color: #8F8F8F;
      border-bottom: 1.5px solid #FFFFFF;
    }
  }

  .app-header-menu-link-inactive {
    text-decoration: none;
    font-weight: 600;

    &:hover {
      color: rgb(143, 143, 143);
      border-bottom: 1.5px solid #FFFFFF;
    }
  }

  .app-header-search-bar {
    grid-column: span 2;
  }
}