.MyActorsPage {

    .my-actors-header-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .my-actors-header-dashboard {
        margin-top: auto;
        flex: 70%;
        padding-right: 30px;
    }

    .my-actors-dropdown-filter {
        flex: 15%;
        margin-right: 10px;
    }

    .my-actors-dropdown-sort {
        flex: 15%;
    }

    .my-actors-label {
        margin-bottom: 15px;
    }

    .my-actors-actors-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column-gap: 50px;
    }
}