.MyMoviesPage {

    .my-movies-header-container { 
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    .my-movies-header-dashboard {
        margin-top: auto;
        flex: 70%;
        padding-right: 30px;
    }

    .my-movies-dropdown-filter {
        flex: 30%;
    }

    .my-movies-label {
        margin-bottom: 15px;
    }

    .my-movie-movies-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-column-gap: 50px;
        // border: 1px white solid;
    }

    .my-movie-movies-item {
        max-width: 48%;
        flex-grow: 1;
        // border: 1px white solid;
    }
}