.MyMoviesPage {

    .my-movies-page-about-container {
        padding-top: 10px;
        padding-left: 15px;
        padding-bottom: 10px;
        margin-right: 20px;
        margin-bottom: 25px;
        background-color: rgb(32, 32, 32);
    }

    .my-movies-page-about-intro {
        margin-bottom: 5px;
    }

    .my-movies-page-about-list {
        margin-left: 15px;
    }
}