.AccountConfigurationCard {
    // border: 1px white solid;
    text-align: right;
    margin-top: 5px;

    body.active-modal {
        overflow-y: hidden;
    }

    .btn-modal {
        margin-left: 5px;
        margin-top: 5px;
        padding-left: 3px;
        padding-right: 3px;
        height: 25px;
    }

    .modal,
    .overlay {
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        text-align: left;
        z-index: 1;
    }

    .overlay {
        background: rgba(49, 49, 49, 0.8);
    }

    .modal-content {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        line-height: 1.4;
        background: #1e1e1e;
        padding: 14px 28px;
        border-radius: 3px;
        max-width: 600px;
        min-width: 300px;
        z-index: 1;
    }

    .close-modal {
        padding: 5px 5px;
    }

    .account-configuration-card-checkbox {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
        column-gap: 0.5rem;
        // border: 1px solid grey;
    }

    .account-configuration-card-flatrate-provider-section {
        display: flex;
        justify-content: flex-end;
        column-gap: .10rem;
        // border: 1px white solid;
    }

    .account-configuration-card-flatrate-provider-image {
        &>img {
            border-radius: 5px;
            max-width: 80%;
            height: auto;
        }
    }
}