.ActorSearchResultsCard {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 20px;

    .actor-search-results-card-name {
    }

    .actor-search-results-card-image {
        margin-right: 20px;
    }
}