.ActorMovieListCard{
    .actor-movie-list-section{ 
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .actor-movie-list-label{
        flex: 50%;
    }

    .actor-movie-list-sort{
        flex: 25%;
        margin-right: 20px;
    }

    .actor-movie-list-filter{
        flex: 25%;
    }
}