.ActorAlertSummaryCard {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;

    .actor-alert-data-card-movie-summary {
        margin-left: auto;
    }

    .actor-alert-data-card-actor-summary {

    }

    .actor-detail-alert-data-card-link {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}