.ActorMovieMetrics {
    margin-bottom: 5px;

    .actor-movie-metrics-label {
        padding-bottom: 3px;
        font-size: .85rem;
    }

    .actor-movie-metrics-link {
        text-decoration: none;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
            text-decoration: underline;
        }
    }
}