.ActorSearchCard {

    .actor-search-box {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .actor-search-label {
        padding-right: 5px;
    }

    .actor-search-box-input {
        background-color: rgb(180, 180, 180);
        width: 15em;
    }

    .actor-search-results-container {
        // border: 1px white solid;
    }

    .actor-search-results-content {
        background-color: rgb(32, 32, 32);
    }

    .actor-search-page-results-label {
        margin-bottom: 20px;
    }
}