.ActorMovieList{
    .actor-movie-list-section { 
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        margin-right: 5px;
    }

    .actor-movie-list-label{
        flex: 70%;
    }

    .actor-movie-list-sort{
        flex: 15%;
    }

    .actor-movie-list-filter{
        flex: 15%;
        margin-right: 10px;
    }

    .actor-movie-list-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        grid-column-gap: 50px;
        // border: 1px white solid;
    }

    .actor-movie-list-item {
        max-width: 48%;
        flex-grow: 1;
    }
}