.ActorSearchResultsCard {
    display: flex;
    align-items: center;
    justify-content: left;

    .actor-search-results-card-name {
    }

    .actor-search-results-card-image {
        margin-right: 20px;
        margin-bottom: 10px;
    }
}