.MovieSubscriptionsListCard {
    padding: 5px;

    .movie-subscription-provide-label {
        padding-left: 5px;
        // align-self: end;
    }

    .movie-subscription-provider-content {
        display: flex;
    }
}