.MovieCard {
    display: grid;
    flex: 1;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    margin-bottom: 35px;
    background-color: rgb(32, 32, 32);
        // border: 1px white solid;

    .movie-image {
        grid-row: span 3;
        margin-right: 10px;

        & > img {
            border-radius: 8px;
        }
    }

    .movie-info {
        display: grid;
        grid-template-rows: min-content auto;
        grid-row-gap: 5px;
        // border: 1px white solid;
    }

    .movie-info-title {
        float: left;
        font-size: 1.25rem;
    }

    .movie-info-content {
        padding-left: 3px;
        padding-right: 5px;
        font-size: .85rem;
        color: #8a8d98;
    }

    .movie-info-content-overview-label {

    }

    .movie-info-content-overview-link {
        text-decoration: underline;
        
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    .movie-info-content-overview {
        display: inline-block;
        margin-left: 3px;
        margin-top: 3px;
    }
}