.MovieCard {
    display: grid;
    flex: 1;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    margin-bottom: 35px;
    // border: 1px white solid;

    .actor-movie-card-image {
        grid-row: span 2;
        margin-right: 20px;

        & > img {
            border-radius: 8px;
        }
    }

    .actor-movie-card-info {
        display: grid;
        grid-template-rows: min-content auto;
        grid-row-gap: 10px;
    }

    .actor-movie-card-info-title {
        float: left;
        font-size: 1.25rem;
    }

    .actor-movie-card-info-content {
        padding-left: 5px;
        font-size: .85rem;
        color: #8a8d98;
    }

    .actor-movie-card-providers-section {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: min-content auto;
        align-self: end;
        margin-bottom: 20px;
    }

    .actor-movie-card-providers-section-label {
        padding-left: 5px;
        align-self: end;
    }

    .actor-movie-card-providers-section-content {
        display: flex;
    }

    .actor-movie-card-info-content-overview-label {

    }

    .actor-movie-card-info-content-overview-link {
        text-decoration: underline;
        
        &:hover {
            text-decoration: none;
            cursor: pointer;
        }
    }

    .actor-movie-card-info-content-overview {
        display: inline-block;
        margin-left: 3px;
        margin-top: 3px;
    }
}