.MovieSubscriptionsListCard {
    padding: 5px;

    .movie-subscription-provide-label {
        font-size: .85rem;
        color: #8a8d98;
    }

    .movie-subscription-provider-content {
        display: flex;
    }
}