.PopularActors {

    .popular-actors-header {
        margin-bottom: 15px;
    }

    .popular-actors-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column-gap: 50px;
    }

    .popular-actors-list-item {
        flex: 1;
        padding-right: 20px;
        max-width: 400px;
    }
}