.ActorSearchPage {
    .actor-search-box {
        margin-bottom: 30px;
    }

    .actor-search-lable {
        padding-right: 5px;
    }

    .actor-search-results {

    }

    .actor-search-page-results-label {
        margin-bottom: 20px;
    }
}