.ActorAlertsPage {

    .actor-alert-header {
        margin-bottom: 5px;
    }

    .actor-alert-movie-list-section {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        margin-right: 20px;
    }

    .actor-alert-movie-list-section-summary {
        flex: 50%;
    }

    .actor-alert-movie-list-section-summary-data {
        margin-top: auto;
    }

    .actor-alert-movie-list-sort {
        flex: 25%;
        margin-right: 20px;
    }

    .actor-alert-movie-list-filter {
        flex: 25%;
    }

    .actor-alerts-page-actors-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-column-gap: 50px;
    }
}